.media
  .media-left
    =link_to image_tag(comment.user.pro_img,alt: "64x64", "data-holder-rendered": "true", "data-src": "holder.js/64x64",html:{class:'media-object'},style: "width: 64px; height: 64px;"), user_path(comment.user)
  .media-body
    %h4#top-aligned-media.media-heading
      = comment.user.nickname
    %p
      = comment.comment_text
