=form_for(@prototype, html: {class: 'container proto-new'}) do |f|
  .col-md-8.col-md-offset-2
    %header.row.user-nav.row
      .col-md-12
        =f.text_field :title, placeholder: "Title"
    .row
      .col-md-12
        .cover-image-upload
          #output_image
            =f.fields_for :capture_images, @prototype.capture_images.main.first do |capture_fields|
              =capture_fields.file_field :content, id: "main_image"
              =capture_fields.hidden_field :type, value: "main"
      .col-md-12
        %ul.proto-sub-list.list-group
          - sub_images_count = 1
          - @prototype.capture_images.sub.each do |sub_image|
            %li.list-group-item.col-md-4
              .image-upload
                %div{id: "sub_output_image#{sub_images_count}"}
                  =f.fields_for :capture_images, sub_image do |capture_fields|
                    =capture_fields.file_field :content, id: "sub_image#{sub_images_count}"
                    =capture_fields.hidden_field :type, value: "sub"
                    - sub_images_count += 1
          - if @prototype.capture_images.sub.length <= 2 then
            - (2 - @prototype.capture_images.sub.length).times do
              %li.list-group-item.col-md-4
                .image-upload
                  =f.fields_for :capture_images do |capture_fields|
                    =capture_fields.file_field :content
                    =capture_fields.hidden_field :type, value: "sub"
          %li.list-group-item.col-md-4
            .image-upload-plus
              %span +
    .row.proto-description
      .col-md-12
        =f.text_field :catch_copy, placeholder: "Catch Copy"
      .col-md-12
        =f.text_area :concept,cols: "30", rows: "4", placeholder: "Concept"
      .col-md-12
        %h4 Tag List
        .row
          .col-md-3
            %input{type: "text", placeholder: "Web Design"}/
          .col-md-3
            %input{type: "text", placeholder: "UI"}/
          .col-md-3
            %input{type: "text", placeholder: "Application"}/
    .row.text-center.proto-btn
      %button.btn.btn-lg.btn-primary.btn-block{type: "submit"} Publish
