=form_for(current_user, html:{class: 'container user-new'}) do |f|
  .col-md-8.col-md-offset-2
    %header.row.user-nav.row
      .col-md-12
        %h2 Edit Profile
        .user-name_image.row
          .user-name.col-md-10
            =f.text_field :nickname, type: "text", placeholder: "Username"
          .col-md-2.user-image(style = 'background-image: url("#{@user.pro_img}");')
            / = image_tag(@user.pro_img, alt: "64x64", "data-holder-rendered": "true", "data-src": "holder.js/64x64", style: "width: 64px; height: 64px; border-radius: 32px;", class: 'media-object') if @user.pro_img?
            %button.btn.btn-primary Add image
            =f.file_field :pro_img
            =f.hidden_field :image_cache
        =f.email_field :email, class:'user-email', placeholder: "E-Mail"
        =f.password_field :password, placeholder: "Password", class:'user-password'
      .col-md-12
        %h4 Member of
        .user-user-member.row
          .user-name.col-md-12
            =f.text_field :group, placeholder: "Member"
        %h4 Profile
        .user-user-profile.row
          .user-name.col-md-12
            =f.text_area :profile, cols: "30", rows: "4", placeholder: "Profile"
        %h4 Works
        .user-name_image.row
          .user-name.col-md-12
            =f.text_area :works, cols: "30", rows: "4", placeholder: "Works"
    .row.text-center.user-btn
      %button.btn.btn-lg.btn-primary.btn-block{type: "submit"} Save
