.container
  .row
    %h2
      Tags list
      .col-sm-4.col-sm-3
        - @tags.each do |tag|
          = link_to "#{tag.name}   project#{tag.taggings_count}", tag_path(tag.id),class:"tag thumbnail"
